<div id="<%= dom_id sale %>">
  <p>
    <strong>Book:</strong>
    <%= sale.book_id %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= sale.year %>
  </p>

  <p>
    <strong>Sales:</strong>
    <%= sale.sales %>
  </p>

</div>
